#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*.exp
*.json
*.pyc
*.config
*.tlog
*.iobj
*.recipe
*.sln
#[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
mylittlengsolve/
EMPY_COIL/
EMPY_Solver/
python/jupyter/
python/COIL/.ipynb_checkpoints/
python/COIL/include/.ipynb_checkpoints/
python/EddyCurrent/.ipynb_checkpoints/
python/env/
python/include/.ipynb_checkpoints/
python/jupyter/.ipynb_checkpoints/
python/Magnetostatic/.ipynb_checkpoints/
python/model/.ipynb_checkpoints/


!x64/Release/EMPY_Solver.pyd
!x64/Release/EMPY_Field.pyd
